body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-image: url("/images/shenhe.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.3;
  pointer-events: none;
}

/* :root {
  --vp-sidebar-bg-color: rgba(246, 246, 246, 0.6);
  --vp-nav-bg-color: rgba(246, 246, 246, 0.6);
  --vp-local-nav-bg-color: transparent;

  --vp-c-gutter: rgba(226, 226, 226, 0.8);
} */
